n8n-workflow-chat.json
{
  "name": "Chat Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-chat",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.CHAT_API_URL || 'https://openrouter.ai/api/v1/chat/completions' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.CHAT_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $env.CHAT_MODEL || 'openai/gpt-4o-mini' }}"
            },
            {
              "name": "messages",
              "value": "=[\n  {\n    \"role\": \"system\",\n    \"content\": \"You are Big Pickle, the 45dgof8 AI assistant. You are helpful, concise, and practical. You help with coding, creative projects, and everyday questions. Keep answers short and direct.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": \"={{ $json.body.message }}\"\n  }\n]"
            },
            {
              "name": "max_tokens",
              "value": 1024
            }
          ]
        },
        "options": {}
      },
      "id": "ai-request",
      "name": "Ask AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"reply\": {{ $json.choices[0].message.content }}\n}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [500, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Ask AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask AI": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
